<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
<div class="container justify-content-around">
  <a class="navbar-brand" href="/">Galac Software</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="justify-content-end collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="/api/fact/">API Factorial</a>
      </li>
    </ul>
  </div>
</div>
</nav>

<div class="container">
    <div class="row mt-5">
        <h2 class="col-12">API Factorial</h2>
        <p class="col-12">Para obtener el factoria de un número, se debe enviar por parametro bajo el metodo GET</p>
        <div class="col-12">
        <h3>GET</h3>
        <code class="">/api/fact/{num}</code>
        <br /><br />
        <a class="btn btn-primary" href="/api/fact/3" target="_blank">Ejemplo 3!</a>
        </div>
    </div>
</div>